<div class="about row">
    <div class="col-md-12">
       <h2>About me </h2>
        <br/>
        <p>17年来到用友实习，18年毕业顺利转正工作至今一直从事Java开发</p>
        <p>最喜欢读的一本书是《平凡的世界》，平凡的人生，不平凡的精神。</p>
        <p>希望有一天可以赚很多的钱，去干够风骚有意义的事情。</p>
        <p>我是小耗子，一个仍然在路上，向往自由和梦想的人！</p>

        <h2>Contact</h2>

        <p><strong>Personal</strong></p>
        <ul>
            <li>Email：<a href="mailto:{{ site.email }}" target="_top">{{ site.email }}</a></li>
            <li>我的微信：<strong>13439312252</strong></li>
        </ul>

     

       <p>
        最后，还是感谢您在茫茫人海中阅读了我的文章。
       </p>

        <!-- Comments -->
       <div class="comment">
         {% include comments.html %}
       </div> 

    </div>
</div>
